<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> Реєстрація </title>
  <link rel="stylesheet" href="../stylesheets/animate.css" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../stylesheets/authorise.css" type="text/css" />

  <style>
    label {
      margin-bottom: 0px;
    }

    input,select,textarea {
      margin-bottom: 15px;
    }
  </style>
</head>

<body class="text-center" style="">
    <form class="form-signin" action='/registerRegistrator' method='POST' enctype="multipart/form-data" onsubmit="onSubmit(event)">
      <h1 class="h3 mb-3 font-weight-normal">Реєстрація</h1>
      <label>Емейл</label>
      <input name="email" type="text" class="form-control" placeholder="Емейл" required="">

      <label for="inputPassword">Пароль</label>
      <input type="password" name="password" class="form-control" placeholder="Пароль" required="">

      <label>Ім'я</label>
      <input name="name" type="text" class="form-control" placeholder="Ім'я" required="">

      <label>Прізвище</label>
      <input name="surname" type="text" class="form-control" placeholder="Прізвище" required="">

      <label>Адреса</label>
      <input name="address" type="text" class="form-control" placeholder="Адреса" required="">

      <label>Номер Паспорту</label>
      <input name="passport_id" type="text" class="form-control" placeholder="Номер Паспорту" required="">

      <label>ІНН</label>
      <input name="taxes_card_id" type="text" class="form-control" placeholder="ІНН" required="">

      <input type="file"  style="display:none; float: right; margin-right:-9%;" name = "avatar"><br><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Зареєструвати реєстратора</button>
    </form>

  <script>
    function onSubmit(event) {
        if (!confirm("Пiдтвердiть додавання новго реєстратора")) {
            event.preventDefault();
        }
    }
  </script>
</body>
</html>
